
.cache/
.tox/
eggs/
*.seed
ENV/
*.so
*.pid
profile_default/
__pypackages__/
*.sage.py
.hypothesis/
.dynamodb/
.docusaurus
.pyre/
MANIFEST
.spyproject
.tern-port
pip-log.txt
.ipynb_checkpoints
downloads/
.nox/
.webassets-cache
*.pid.lock
.pnp.*
lib64/
*.egg
.eslintcache
db.sqlite3-journal
.dmypy.json
celerybeat.pid
.rpt2_cache/
*.pot
env.bak/
.env.local
htmlcov/
cython_debug/
.yarn/install-state.gz
.env.development.local
.pybuilder/
.temp
.pdm.toml
wheels/
venv/
*.py[cod]
.rts2_cache_umd/
*.tgz
.yarn/unplugged
sdist/
dist/
.ruff_cache/
.grunt
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
build/
.mypy_cache/
.scrapy
*.spec
build/Release
parts/
docs/_build/
logs
share/python-wheels/
.vuepress/dist
*.egg-info/
.nyc_output
.yarn/build-state.yml
var/
npm-debug.log*
.Python
.nuxt
*.cover
.pnpm-debug.log*
coverage
.npm
.node_repl_history
.env.test.local
ipython_config.py
/site
develop-eggs/
.coverage
lerna-debug.log*
**/.vitepress/cache
*.tsbuildinfo
dist
.ropeproject
.next
bower_components
.venv
.pytype/
.rts2_cache_cjs/
.yarn-integrity
coverage.xml
*.py,cover
lib/
.coverage.*
*.log
.pdm-python
out
pip-delete-this-directory.txt
__pycache__/
yarn-error.log*
*.lcov
*$py.class
env/
.vscode-test
target/
yarn-debug.log*
.installed.cfg
.lock-wscript
.pypirc
.env.production.local
.spyderproject
instance/
dmypy.json
venv.bak/
.env
**/.vitepress/dist
db.sqlite3
.cache
.pdm-build/
web_modules/
.cursorindexingignore
.serverless/
cover/
nosetests.xml
jspm_packages/
*.mo
pids
.cursorignore
node_modules/
.eggs/
.stylelintcache
*.manifest
local_settings.py
.fusebox/
.pytest_cache/
.parcel-cache
.yarn/cache
celerybeat-schedule
.rts2_cache_es/
lib-cov
# REFNOTE: created by technomantic spirit with selective ignorance and artistical resonance of the Saint Mission of Technomancers
# REFNOTE: this file (./.gitignore) was generated by selective_ignorance.sh 2025 by Sett Sarverott (https://gist.github.com/Sarverott/a9933eea3dd0e4fc54e8ff275bd79dcf under terms of CC BY-ND 4.0)
# REFNOTE: based on resources delivered from gitignore repo with templates by Github (https://github.com/github/gitignore under terms of CC0-1.0)
# REFNOTE: content of file have to contain this information REFNOTE to show respect for work of authors that gave opportunity to create this file
# REFNOTE: by casting spell `bash git python,node` for https://github.com/the-House-of-Anubis/the-House-of-Anubis.github.io.git with  [UNIXUSAT=1747934420355]
# REFNOTE: best regards and with goodluck charm casting
# REFNOTE:    ~Apokryf Institute of Technomantic Research
